// Body
$body-bg: #F7FCFF;
// Typography
$font-family-sans-serif: 'Raleway',
sans-serif;
// Colors
$primary: #6F71F9;
$secondary: #54C1FB;
$light-blue: #F7FCFF;
$dark:#272848;
$light: #FFF;
$dark-gray:#9D9DAB;
$light-gray: #EFF0F8;
$dark:#272848;
$danger: #FE6E6E;
$warning: #FFAB5C;
$success: #0CCD8A;
$primary-down: rgba(111, 113, 249, 0.5);
$secondary-down: rgba(84, 193, 251, 0.5);
//shadow
$shadow-primary: 0px 0px 15px 5px rgba(71, 71, 71, 0.16);
$shadow-secondary: 0px 0px 21px 5px rgba(80, 105, 204, 0.11);