// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Mixin
$breakpoints: ( 'xSmall': 575px, 'xSmallOne': 767px, 'small': 992px, 'medium': 1025px, 'large': 1200px) !default;
@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (max-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }
}

body {
    background-color: $body-bg;
    font-family: $font-family-sans-serif;
}

nav {
    .content {
        .navbar-brand {
            color: $primary;
            font-size: 30px;
            span {
                font-weight: 700;
            }
            flex: 1;
        }
        .navbar-toggler {
            img {
                height: 60px;
                width: 40px;
            }
        }
        .navbar-collapse {
            .navbar-nav {
                .nav-item {
                    .name {
                        color: $dark;
                        font-size: 20px;
                        font-weight: 500;
                        position: relative;
                    }
                    ul {
                        a {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .app {
        .collapse {
            .nav-left {
                gap: 20px;
                a {
                    color: $dark;
                    font-weight: 600;
                }
                .active {
                    color: $secondary;
                    position: relative;
                    &:after {
                        content: "";
                        width: 100%;
                        height: 4px;
                        border-radius: 2px;
                        background-color: $secondary;
                        position: absolute;
                        top: 20px;
                        left: 0;
                    }
                }
            }
            .nav-right {
                gap: 20px;
                .login {
                    color: $secondary;
                    border: 2px solid $secondary;
                    padding: 10px 20px;
                    border-radius: 10px;
                    font-weight: 600;
                    text-align: center;
                }
                .register {
                    color: $light;
                    background-color: $primary;
                    padding: 10px 20px;
                    border-radius: 10px;
                    font-weight: 600;
                    text-align: center;
                }
            }
        }
    }
}

.dash {
    padding: 0;
    display: block;
    .dashboardN {
        display: flex;
        width: 100%;
        align-items: center;
        @include respond-to('xSmallOne') {
            justify-content: space-between;
            flex-wrap: wrap;
            padding-right: 0;
        }
        .navbar-brand {
            padding: 0;
            margin-left: 50px;
            max-width: 200px;
        }
        .navbar-toggler {
            padding-right: 50px;
        }
        .collapse {
            padding-right: 50px;
            background-color: $primary;
            height: 70px;
            flex-grow: 1;
            justify-content: flex-end;
        }
        .show {
            height: max-content;
            width: 72%;
            @include respond-to('xSmallOne') {
                width: 100%;
            }
        }
        .navbar-collapse {
            .navbar-nav {
                align-items: center;
                @include respond-to('xSmallOne') {
                    align-items: flex-start;
                    padding-left: 50px;
                    gap: 20px;
                }
                .show {
                    @include respond-to('xSmallOne') {
                        padding-top: 0px;
                    }
                }
                .today {
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    margin-right: 20px;
                    width: max-content;
                    .icon {
                        background-color: $secondary;
                        border-radius: 10px;
                        height: 50px;
                        width: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .content {
                        color: $light;
                        h3 {
                            margin-bottom: 0px;
                        }
                    }
                }
                .button {
                    margin-right: 40px;
                    a {
                        background-color: $secondary;
                        color: $light;
                        font-weight: 600;
                        border-radius: 10px;
                        border: none;
                        padding: 15px 20px;
                        height: 50px;
                    }
                }
                .nav-item {
                    .name {
                        color: $light;
                        padding-left: 20px;
                        &::before {
                            content: "";
                            width: 2px;
                            height: 100%;
                            background-color: $dark-gray;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                        @include respond-to('xSmallOne') {
                            &::before {
                                width: 0;
                            }
                            padding-left: 0;
                        }
                        display: flex;
                        gap: 20px;
                        align-items: center;
                        .content {
                            display: flex;
                            flex-direction: column;
                            span {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {
    background-color: $light-blue;
    .links {
        @include respond-to('xSmall') {
            padding: 50px;
        }
        justify-content: space-between;
        gap: 50px;
        padding-bottom: 50px;
        h1 {
            color: $primary;
            font-size: 30px;
            font-weight: 700;
        }
        ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-top: 30px;
            margin-bottom: 0;
            a {
                color: $dark;
                font-size: 18px;
            }
        }
        .subscribe {
            box-shadow: $shadow-secondary;
            padding: 30px 40px;
            border-radius: 20px;
            position: relative;
            max-width: 320px;
            img {
                position: absolute;
                top: 0;
                right: 0;
                width: 230px;
            }
            h1 {
                margin-bottom: 50px;
            }
            form {
                input {
                    border: 1px solid $dark-gray;
                    padding: 5px 15px;
                    border-radius: 5px;
                    width: 100%;
                    font-size: 20px;
                    margin-bottom: 20px;
                }
                button {
                    width: 100%;
                    border-radius: 5px;
                    background-color: $primary;
                    color: $light;
                    border: none;
                    font-size: 20px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }
        }
        .follow {
            margin-top: 30px;
            ul {
                flex-direction: row;
                img {
                    height: 30px;
                }
            }
        }
    }
    .copyright {
        background-color: $primary-down;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        p {
            margin-bottom: 0;
            color: $dark;
            font-size: 20px;
            font-weight: 500;
        }
    }
}

.search {
    background-color: $primary;
    padding: 40px;
    border-radius: 20px;
    margin-bottom: 20px;
    form {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        .inputs {
            display: flex;
            gap: 20px;
            justify-content: space-between;
            .input {
                background-color: $light;
                padding-left: 15px;
                height: 60px;
                border-radius: 10px;
                input,
                select {
                    width: 90%;
                    border-radius: 10px;
                    border: none;
                    height: 100%;
                    &:focus {
                        outline: none;
                    }
                }
                select {
                    color: $dark-gray;
                    option {
                        color: $dark;
                    }
                }
                input {
                    &::placeholder {
                        color: $dark-gray;
                    }
                }
            }
        }
        .button {
            button {
                height: 60px;
                background-color: $secondary;
                border-radius: 10px;
                font-size: 18px;
                font-weight: 600;
            }
        }
        .form-group {
            margin-bottom: 0;
        }
    }
}

.condition {
    color: $primary;
    margin-bottom: 100px;
}

.home {
    .hero {
        display: flex;
        align-items: center;
        padding: 100px 0;
        @include respond-to('xSmall') {
            padding-top: 50px;
        }
        gap: 50px;
        >* {
            flex: 1 1;
        }
        .content {
            color: $dark;
            display: flex;
            flex-direction: column;
            gap: 50px;
            h1 {
                font-size: 77px;
                font-weight: 700;
                line-height: 110px;
                @include respond-to('xSmall') {
                    font-size: 60px;
                    line-height: 90px;
                }
            }
            p {
                font-size: 18px;
                font-weight: 500;
            }
            a {
                background-color: $primary;
                color: $light;
                width: max-content;
                padding: 20px;
                border-radius: 40px;
                font-size: 20px;
                font-weight: 500;
            }
        }
        .image {
            img {
                width: 100%;
            }
            @include respond-to('small') {
                display: none;
            }
        }
    }
    .search {
        form {
            @include respond-to('large') {
                flex-direction: column;
            }
            .inputs {
                @include respond-to('small') {
                    flex-wrap: wrap;
                }
                .input {
                    width: 260px;
                    @include respond-to('small') {
                        width: 295px;
                    }
                    @include respond-to('xSmallOne') {
                        width: 100%;
                    }
                }
            }
            .button {
                button {
                    min-width: 200px;
                    @include respond-to('large') {
                        width: 100%;
                    }
                }
            }
            .form-group {
                @include respond-to('xSmallOne') {
                    width: 100%;
                }
            }
        }
    }
    .features {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
        margin-bottom: 100px;
        .feature {
            background-color: $light;
            border-radius: 10px;
            box-shadow: $shadow-primary;
            display: flex;
            gap: 10px;
            padding: 20px;
            height: 140px;
            width: max-content;
            .image {
                width: 100px;
                background-image: url('../../public/images/triangle.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: auto 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 50px;
                    z-index: 10;
                }
            }
            .content {
                display: flex;
                align-items: center;
                p {
                    font-size: 18px;
                    font-weight: 500;
                    color: $dark;
                }
            }
            @include respond-to('large') {
                width: 48%;
            }
            @include respond-to('xSmallOne') {
                width: 100%;
            }
        }
    }
    .about {
        display: flex;
        gap: 20px;
        >* {
            flex: 1 1;
        }
        margin: 150px 0;
        @include respond-to('large') {
            flex-direction: column-reverse;
        }
        .image {
            text-align: center;
            position: relative;
            img {
                width: 450px;
                border-radius: 20px;
                z-index: 1;
                @include respond-to('large') {
                    width: 90%;
                }
            }
            &:before {
                content: "";
                width: 450px;
                height: 100%;
                background-color: $secondary-down;
                position: absolute;
                border-radius: 20px;
                top: -50px;
                left: 0;
                z-index: -1;
                @include respond-to('xSmallOne') {
                    width: 90%;
                }
            }
            &:after {
                content: "";
                width: 150px;
                height: 150px;
                background-color: $primary;
                position: absolute;
                border-radius: 100px;
                bottom: -50px;
                right: 0;
                z-index: -1;
            }
        }
        .content {
            color: $dark;
            @include respond-to('large') {
                margin-bottom: 100px;
            }
            h1 {
                font-size: 55px;
                font-weight: 600;
            }
            span {
                font-size: 24px;
            }
            p {
                font-size: 18px;
                margin: 50px 0 80px 0;
            }
            a {
                background-color: $secondary;
                border-radius: 10px;
                font-weight: 600;
                color: $light;
                padding: 20px;
                margin-top: 50px;
            }
        }
    }
    .services {
        color: $dark;
        margin-bottom: 100px;
        .title {
            text-align: center;
            .topTitle {
                width: 100%;
                height: max-content;
            }
            h1 {
                font-size: 40px;
                font-weight: 600;
                position: relative;
                width: max-content;
                margin: auto;
                margin-bottom: 15px;
                &::before {
                    content: "";
                    width: 70px;
                    height: 70px;
                    background-color: rgba(84, 193, 251, 0.5);
                    position: absolute;
                    border-radius: 35px;
                    top: 0;
                    left: -25px;
                    z-index: -1;
                }
                &:after {
                    content: "";
                    width: 30px;
                    height: 30px;
                    background-color: #6F71F9;
                    position: absolute;
                    border-radius: 25px;
                    top: 0;
                    z-index: -1;
                }
            }
            p {
                font-size: 20px;
                max-width: 550px;
                margin: auto;
            }
        }
        .elements {
            margin-top: 50px;
            display: flex;
            gap: 50px;
            @include respond-to('small') {
                flex-direction: column;
            }
            .content {
                display: flex;
                flex-direction: column;
                gap: 50px;
                @include respond-to('small') {
                    align-items: center;
                }
                .service {
                    display: flex;
                    gap: 40px;
                    background-color: $light;
                    border-radius: 10px;
                    box-shadow: $shadow-primary;
                    height: 150px;
                    align-items: center;
                    padding-left: 50px;
                    max-width: 650px;
                    padding-right: 20px;
                    @include respond-to('small') {
                        margin-bottom: 50px;
                    }
                    @include respond-to('xSmall') {
                        height: max-content;
                        padding-left: 0;
                        padding-right: 0;
                        padding-top: 30px;
                        flex-direction: column;
                    }
                    .imageS {
                        position: relative;
                        width: 100px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        z-index: 1;
                        &:before {
                            content: "";
                            width: 100px;
                            height: 100px;
                            background-color: $secondary-down;
                            position: absolute;
                            border-radius: 50px;
                            top: -17px;
                            left: -21px;
                            z-index: -1;
                            @include respond-to('xSmall') {
                                left: 0;
                            }
                        }
                    }
                    .contentS {
                        @include respond-to('xSmall') {
                            text-align: center;
                        }
                        h1 {
                            font-size: 30px;
                            font-weight: 800;
                            color: $primary;
                            @include respond-to('xSmallOne') {
                                font-size: 20px;
                            }
                        }
                        p {
                            font-size: 18px;
                            @include respond-to('xSmallOne') {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
            .image {
                position: relative;
                flex-basis: 40%;
                text-align: center;
                margin: auto 0;
                img {
                    width: 300px;
                    border-radius: 20px;
                    margin: auto;
                    @include respond-to('small') {
                        width: 80%;
                    }
                }
                &:before {
                    content: "";
                    width: 150px;
                    height: 150px;
                    background-color: $secondary-down;
                    position: absolute;
                    border-radius: 10px;
                    top: -50px;
                    right: -20px;
                    z-index: -1;
                    @include respond-to('small') {
                        right: 0;
                    }
                }
                &:after {
                    content: "";
                    width: 250px;
                    height: 150px;
                    background-color: $primary;
                    position: absolute;
                    border-radius: 10px;
                    bottom: -50px;
                    left: -20px;
                    z-index: -1;
                    @include respond-to('small') {
                        left: 0;
                    }
                }
            }
        }
    }
    .count {
        display: flex;
        justify-content: space-between;
        background-color: $primary;
        padding: 20px 0;
        margin: 0 10% 100px 10%;
        border-radius: 20px;
        flex-wrap: wrap;
        gap: 20px;
        text-align: center;
        .item {
            color: $light;
            text-align: center;
            margin: auto;
            .number {
                p {
                    font-size: 55px;
                    font-weight: 600;
                    span {
                        color: $secondary;
                    }
                }
            }
            p {
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
}

.blog {
    text-align: center;
    margin-bottom: 100px;
    .title {
        text-align: center;
        .topTitle {
            width: 100%;
            height: max-content;
        }
        h1 {
            font-size: 40px;
            font-weight: 600;
            position: relative;
            width: max-content;
            margin: auto;
            margin-bottom: 15px;
            &::before {
                content: "";
                width: 70px;
                height: 70px;
                background-color: rgba(84, 193, 251, 0.5);
                position: absolute;
                border-radius: 35px;
                top: 0;
                left: -25px;
                z-index: -1;
            }
            &:after {
                content: "";
                width: 30px;
                height: 30px;
                background-color: #6F71F9;
                position: absolute;
                border-radius: 25px;
                top: 0;
                right: -10px;
                z-index: -1;
            }
        }
        p {
            font-size: 20px;
            max-width: 550px;
            margin: auto;
        }
    }
    .articles {
        margin: 50px 0;
        .article {
            background-color: $light;
            box-shadow: $shadow-primary;
            border-radius: 20px;
            padding: 20px;
            max-width: 340px;
            margin: 10px;
            text-align: center;
            padding-bottom: 20px;
            img {
                height: 200px;
                border-radius: 20px;
                margin-bottom: 20px;
            }
            span {
                font-size: 18px;
                color: $primary;
            }
            h1 {
                margin-top: 20px;
                font-size: 24px;
                color: $dark;
                font-weight: 600;
            }
            .count {
                display: flex;
                background-color: transparent;
                justify-content: space-around;
                margin: 0 25%;
                padding: 0;
                img {
                    width: 15px;
                    height: 15px;
                    border-radius: 0;
                    margin-top: 4px;
                }
                .elem {
                    display: flex;
                    gap: 10px;
                }
            }
            p {
                margin-bottom: 2rem;
            }
            a {
                background-color: $primary;
                color: $light;
                height: 100px;
                border-radius: 50px;
                padding: 10px 50px;
                margin-top: 50px;
                text-decoration: none;
            }
        }
    }
    a {
        color: $secondary;
        text-decoration: underline;
        font-size: 24px;
        flex: 500;
    }
}

.articlesBlog {
    margin-top: 100px;
    margin-bottom: 100px;
    .articles {
        display: flex;
        flex-wrap: wrap;
        .article {
            img {
                width: 100%;
            }
        }
    }
}

.findDr {
    .search {
        padding: 50px 10%;
        display: flex;
        gap: 20px;
        margin-top: 100px;
        @include respond-to('large') {
            flex-direction: column;
        }
        .image {
            max-width: 600px;
            @include respond-to('large') {
                max-width: 100%;
            }
            img {
                width: 100%;
            }
        }
        form {
            flex-basis: 40%;
            flex-direction: column;
            .inputs {
                flex-direction: column;
                gap: 40px;
                .input {
                    width: 100%;
                }
            }
            .button {
                button {
                    width: 100%;
                }
            }
        }
    }
    .result {
        .title {
            text-align: center;
            margin-bottom: 100px;
            .topTitle {
                width: 100%;
                height: max-content;
            }
            h1 {
                font-size: 40px;
                font-weight: 600;
                position: relative;
                width: max-content;
                margin: auto;
                margin-bottom: 15px;
                &::before {
                    content: "";
                    width: 70px;
                    height: 70px;
                    background-color: $primary-down;
                    position: absolute;
                    border-radius: 35px;
                    top: -7px;
                    left: -25px;
                    z-index: -1;
                }
                &:after {
                    content: "";
                    width: 50px;
                    height: 50px;
                    background-color: $secondary-down;
                    position: absolute;
                    border-radius: 25px;
                    top: -20px;
                    right: -20px;
                    z-index: 1;
                }
            }
        }
        .doctors {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 50px;
            margin-bottom: 100px;
            @include respond-to('xSmallOne') {
                flex-direction: column;
            }
            .doctor {
                background-color: $light;
                width: 320px;
                border-radius: 20px;
                padding: 20px;
                padding-bottom: 40px;
                @include respond-to('xSmallOne') {
                    width: 100%;
                }
                .image {
                    height: 50%;
                    width: 100%;
                    overflow: hidden;
                    border-radius: 20px;
                    img {
                        width: 100%;
                        min-height: 100%;
                    }
                }
                .content {
                    text-align: center;
                    margin-top: 20px;
                    h1 {
                        color: $dark;
                        font-size: 27px;
                        font-weight: 600;
                    }
                    .social {
                        display: flex;
                        gap: 20px;
                        justify-content: space-between;
                        margin: 20px 40px 40px 40px;
                        img {
                            height: 25px;
                        }
                    }
                    .seeMore {
                        background-color: $secondary;
                        color: $light;
                        font-weight: 600;
                        text-align: center;
                        padding: 20px;
                        margin: 20px 0;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}

.doctor {
    .information {
        margin: 100px 70px 0px 70px;
        background-color: $secondary;
        border-radius: 20px;
        padding: 50px;
        display: flex;
        gap: 20px;
        position: relative;
        z-index: 100;
        @include respond-to('large') {
            flex-direction: column;
        }
        @include respond-to('xSmall') {
            margin: 100px 0px 0px 0px;
            padding: 20px;
        }
        .image {
            flex-basis: 200%;
            border-radius: 20px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .content {
            h1 {
                color: $dark;
                font-weight: 600;
                text-transform: capitalize;
            }
            span {
                font-size: 24px;
                margin-bottom: 20px;
            }
            p {
                color: $light;
                font-size: 18px;
                margin: 20px 0;
            }
            ul {
                list-style-type: none;
                padding: 0;
                li {
                    display: flex;
                    align-items: center;
                    .imageI {
                        width: 50px;
                        img {
                            height: 25px;
                        }
                    }
                }
            }
        }
    }
    .appointment {
        background-color: $light;
        border-radius: 20px;
        padding: 150px 50px 50px;
        box-shadow: $shadow-primary;
        margin-top: -100px;
        z-index: -2;
        margin-bottom: 100px;
        @include respond-to('xSmall') {
            padding: 150px 20px 20px;
        }
        .content {
            display: flex;
            gap: 20px;
            @include respond-to('small') {
                flex-direction: column;
                align-items: center;
            }
            .calendar {
                height: max-content;
                width: max-content;
                background-color: $light;
                border-radius: 30px;
                padding: 20px;
                position: relative;
                overflow: hidden;
                min-width: 425px;
                @include respond-to('xSmall') {
                    min-width: 0;
                    width: 100%;
                }
            }
            .light .calendar {
                box-shadow: $primary-down;
                @include respond-to('small') {
                    display: none;
                }
            }
            .calendar-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 25px;
                font-weight: 600;
                color: $primary;
                padding: 10px;
                @include respond-to('xSmall') {
                    font-size: 18px;
                }
            }
            .calendar-body {
                padding: 10px;
            }
            .calendar-week-day {
                height: 50px;
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                font-weight: 600;
                div {
                    font-size: 14px;
                }
            }
            .calendar-week-day input {
                display: grid;
                place-items: center;
                color: $secondary;
            }
            .calendar-days {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                gap: 2px;
                color: $dark;
                .dayTC {
                    background-color: $secondary;
                    border-radius: 5px;
                    &::placeholder {
                        text-align: center;
                        color: $light;
                    }
                }
            }
            .calendar-days input {
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px;
                position: relative;
                cursor: pointer;
                animation: to-top 1s forwards;
                border: none;
                padding-left: 15px;
                /* border-radius: 50%; */
                &::placeholder {
                    text-align: center;
                    color: $dark;
                }
                &:focus {
                    outline: none;
                    border: none;
                }
                &:disabled {
                    background: $light;
                }
                @include respond-to('xSmall') {
                    width: 34px;
                    height: 34px;
                    font-size: 15px;
                    padding: 0;
                }
            }
        }
        .calendar-days input span {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $secondary;
            z-index: -1;
            border-radius: 5px;
            display: block;
        }
        .calendar-days input:hover {
            color: $light;
        }
        .calendar-days input:hover span {
            display: block;
        }
        .calendar-days input.curr-date,
        .calendar-days input.curr-date:hover {
            background-color: $primary;
            border-radius: 50%;
            &::placeholder {
                text-align: center;
                color: $light;
            }
        }
        .calendar-days input.curr-date span {
            display: none;
        }
        .month-picker {
            padding: 5px 10px;
            border-radius: 10px;
            cursor: pointer;
        }
        .month-picker:hover {
            background-color: $success;
        }
        .year-picker {
            display: flex;
            align-items: center;
        }
        .year-change {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            display: grid;
            place-items: center;
            margin: 0 10px;
            cursor: pointer;
        }
        pre {
            color: $primary;
            margin-top: 15px;
        }
        .month-list {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $light;
            padding: 20px;
            grid-template-columns: repeat(3, auto);
            gap: 5px;
            display: grid;
            transform: scale(1.5);
            visibility: hidden;
            pointer-events: none;
        }
        .month-list.show {
            transform: scale(1);
            visibility: visible;
            pointer-events: visible;
            transition: all 0.2s ease-in-out;
        }
        .month-list>input {
            display: grid;
            place-items: center;
        }
        .month-list>input>input {
            width: 100%;
            padding: 5px 20px;
            border-radius: 10px;
            text-align: center;
            cursor: pointer;
            color: $dark;
        }
        .month-list>input>input:hover {
            background-color: $success;
        }
        @keyframes to-top {
            0% {
                transform: translateY(100%);
                opacity: 0;
            }
            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }
        .line {
            height: auto;
            width: 2px;
            background-color: $light-gray;
        }
        .hours {
            .nav {
                .nav-link {
                    height: 30px;
                    border-radius: 15px;
                    border: 1px solid $secondary;
                    display: flex;
                    align-items: center;
                    margin-right: 20px;
                    font-weight: 500;
                    color: $secondary;
                    background-color: $light;
                }
                .active {
                    background-color: $secondary;
                    color: $light;
                }
            }
            .tab-content {
                .tab-pane {
                    input {
                        opacity: 0;
                        &:checked {
                            +label {
                                background: $primary;
                                color: $light;
                            }
                        }
                    }
                    label {
                        border: 1px solid $primary;
                        padding-right: 5px;
                        border-radius: 5px;
                        color: $primary;
                        font-size: 20px;
                        width: 100px;
                        margin: 0 20px 20px 0;
                        height: 30px;
                        .icon {
                            height: 30px;
                            padding: 3px 0px 2px 0;
                            width: 30px;
                            border-radius: 5px;
                            border-right: 1px solid $primary;
                            display: inline;
                            margin-right: 5px;
                            img {
                                width: 20px;
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.btnSub {
    width: 100%;
    text-align: right;
    button {
        color: $light;
        font-size: 20px;
        background-color: $secondary;
        border: none;
        padding: 15px 50px;
        border-radius: 10px;
        font-weight: 600;
    }
}

.apply {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: $primary;
    border-radius: 20px;
    padding: 50px;
    .form-group {
        display: flex;
        align-items: center;
        background-color: $light;
        padding-left: 15px;
        border-radius: 10px;
        margin-bottom: 0;
        img {
            height: 20px;
            width: 20px;
        }
        input,
        select,
        textarea {
            width: 90%;
            border-radius: 10px;
            border: none;
            &:focus {
                outline: none;
            }
        }
        select {
            color: $dark-gray;
            height: 100%;
            option {
                color: $dark;
            }
        }
        input {
            height: 100%;
            &::placeholder {
                color: $dark-gray;
            }
        }
        label {
            height: 100%;
            border: none;
            border-radius: 10px;
            display: flex;
            align-items: center;
            color: $dark-gray;
            &::after {
                height: 100%;
                display: flex;
                align-items: center;
            }
        }
    }
    .top-inputs {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
        .form-group {
            width: 330px;
            height: 60px;
            @include respond-to('large') {
                width: 48%;
            }
            @include respond-to('small') {
                width: 100%;
            }
        }
    }
    .bottom-inputs {
        .form-group {
            align-items: start;
            margin-top: 20px;
            padding-top: 10px;
        }
    }
    .btnS {
        width: 100%;
        text-align: right;
        margin-top: 20px;
        button {
            background-color: $secondary;
            color: $light;
            font-weight: 600;
            border-radius: 10px;
            border: none;
            padding: 20px;
        }
    }
}

.connect {
    display: flex;
    background-color: $light;
    box-shadow: $shadow-primary;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;
    border-radius: 20px;
    gap: 20px;
    flex-wrap: wrap;
    @include respond-to('xSmall') {
        padding: 20px;
    }
    .image {
        width: 500px;
        overflow: hidden;
        @include respond-to('small') {
            width: 100%;
        }
        img {
            width: 100%;
        }
    }
    .form {
        width: 39%;
        input {
            width: 100%;
        }
        @include respond-to('small') {
            width: 100%;
        }
    }
}

.authPages {
    margin: 50px 50px 100px;
    h3 {
        color: $dark;
        font-weight: 800;
    }
    .content {
        margin-top: 20px;
        background-color: $light;
        border-radius: 20px;
        box-shadow: $shadow-primary;
        padding: 50px;
    }
}

.dashboard {
    .content {
        .nav-tabs {
            border: none;
            .nav-item {
                margin-right: 20px;
                margin-bottom: 1px;
                .nav-link {
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    border: none;
                    height: 100px;
                    background-color: $primary;
                    color: $light;
                    width: 150px;
                    box-shadow: 0px -13px 17px 2px rgb(71 71 71 / 16%);
                    text-align: left;
                    padding-left: 20px;
                    .stastistic {
                        h3 {
                            color: $light;
                        }
                    }
                }
                .active {
                    background-color: $light;
                    color: $primary;
                    .stastistic {
                        h3 {
                            color: $primary;
                        }
                    }
                }
            }
        }
        .tab-content {
            .tab-pane {
                padding: 20px;
                background-color: $light;
                box-shadow: 0px 0px 17px 2px rgb(71 71 71 / 16%);
                border-top-right-radius: 20px;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                border: none;
            }
        }
    }
}

.dataTables_length {
    display: none;
}

.dataTables_filter {
    input {
        border-radius: 15px;
        border-color: $light-gray;
        position: relative;
        &::after {
            content: url('../../public/images/Icon material-search.png');
            position: absolute;
            height: 18px;
            width: 18px;
            right: 0;
        }
    }
}

.table {
    border: none;
    box-shadow: $shadow-secondary;
    thead th,
    tbody tr,
    tbody tr td {
        border: none;
    }
    .dtr-data {
        display: flex;
        gap: 20px;
        button {
            width: 30px;
            height: 30px;
            background: none;
            border: 1px solid $dark-gray;
            border-radius: 15px;
            text-align: center;
            img {
                height: 18px;
                width: 16px;
            }
        }
    }
    // .dataTable.dtr-inline.collapsed>tbody>tr.parent>td.dtr-control:before,
    // .dataTable.dtr-inline.collapsed>tbody>tr.parent>th.dtr-control:before {
    //     content: "-";
    //     background-color: $secondary;
    // }
    // .dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before,
    // .dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
    //     border: none;
    //     border-radius: 1em;
    //     background-color: $primary !important;
    // }
    tr {
        p {
            border-radius: 13px;
            margin-top: 0;
            margin-bottom: 0;
            text-align: center;
            height: 26px;
            padding: 0 10px;
        }
    }
    tbody {
        tr {
            .action {
                display: flex;
                .actionBtn {
                    width: 30px;
                    height: 30px;
                    background: none;
                    border: 1px solid $dark-gray;
                    border-radius: 15px;
                    text-align: center;
                    padding: 0;
                    img {
                        height: 18px;
                        width: 16px;
                    }
                    .dot {
                        height: 5px;
                    }
                }
            }
        }
    }
}

.dataTables_info {
    display: none;
}

.pagination {
    margin-top: 10px;
    gap: 10px;
    .page-item {
        a {
            width: 38px;
            border-radius: 19px;
            text-align: center;
            background-color: $light-blue;
            border: 1px solid $dark-gray;
            color: $dark-gray
        }
    }
    .active {
        a {
            background-color: $secondary;
            color: $light;
            border: none;
        }
    }
    .previous,
    .next {
        a {
            width: max-content;
            border-radius: 10px;
        }
    }
}

.singleArticle {
    margin-top: 100px;
    margin-bottom: 100px;
    section {
        background-color: $light;
        border-radius: 20px;
        box-shadow: $shadow-primary;
        padding: 50px;
        margin-bottom: 50px;
    }
    .article {
        background-color: $light;
        box-shadow: $shadow-primary;
        border-radius: 20px;
        padding: 7%;
        text-align: center;
        img {
            height: 500px;
            border-radius: 20px;
            margin-bottom: 20px;
            width: 100%;
        }
        span {
            font-size: 20px;
            color: $primary;
        }
        h1 {
            margin-bottom: 50px;
            font-size: 30px;
            color: $dark;
            font-weight: 600;
        }
        .count {
            display: flex;
            background-color: transparent;
            justify-content: space-around;
            padding: 0;
            img {
                width: 30px;
                height: 30px;
                border-radius: 0;
                margin-top: 4px;
                margin-bottom: 0;
            }
            .elem {
                display: flex;
                gap: 10px;
                align-items: center;
                font-size: 40px;
            }
        }
        p {
            margin-bottom: 2rem;
            margin-top: 50px;
            font-size: 22px;
            line-height: 2.5;
            @include respond-to('small') {
                font-size: 20px;
                line-height: 1.5;
            }
        }
        a {
            background-color: $primary;
            color: $light;
            height: 100px;
            border-radius: 50px;
            padding: 10px 50px;
            margin-top: 50px;
            text-decoration: none;
        }
    }
    .comments {
        .comment {
            h2 {
                color: $secondary;
            }
        }
    }
}